@import '../../variables.scss';

.query_result_container {
  margin: 20px;

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      padding: 12px;
      text-align: left;
      font-size: 16px;
    }

    th {
      background-color: $primary-color;
      color: #fff;
    }
  }
}
