@import '../../variables.scss';

.query_input_container {
  @include flex(row, center, start);
  margin: 20px;

  .customQuery,
  .predefinedQuery {
    @include flex(column, start, center);
    width: 50%;

    h2 {
      margin-bottom: 20px;
    }
  }

  .customQuery {
    .queryContainer {
      @include flex(column, center, center);
    }
  }
  .predefinedQuery {
    .queryContainer {
      @include flex(row, center, center);
      gap: 20px;
    }
  }

  .selectBox {
    width: 300px;
  }

  textarea {
    width: 350px;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
  }

  button {
    height: 50px;
    width: 100px;
    @include flex(row, center, center);
    background-color: $primary-color;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .predefinedQuery {
    button {
      height: 40px;
    }
  }
}
