@import '../../../../variables.scss';

.queryResultContainer {
  .queryResult {
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 20px;
    .backButton {
      color: blue;
      font-weight: 600;
      font-size: 16px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;

      th,
      td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
        font-size: 16px;
      }

      th {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }

  .placeholder {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid red;
  }
}
