@import '../../variables.scss';

.homeContainer {
  @include flex(column, center, center);
  gap: 50px;
  padding-top: 10%;

  .content {
    width: 60%;
    @include flex(column, center, center);
    gap: 30px;

    p {
      font-size: 18px;
    }
  }

  .link {
    text-decoration: none;

    button {
      width: 150px;
      height: 50px;
      @include flex(row, center, center);
      font-size: 18px;
      font-weight: 600px;
      background: $primary-color;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      border: none;
      outline: none;
    }
  }
}

@media (max-width: 800px) {
  .homeContainer {
    .content {
      width: 80%;
      gap: 20px;
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 500px) {
  .homeContainer {
    .content {
      width: 90%;
      gap: 10px;
      h1 {
        font-size: 22px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
